.wy-menu-vertical
  width: $nav-desktop-width
  header, p.caption
    height: $base-font-size * 2
    display: inline-block
    line-height: $base-font-size * 2
    padding: 0 $gutter
    margin-bottom: 0
    display: block
    font-weight: bold
    text-transform: uppercase
    font-size: 80%
    color: $menu-link-color
    white-space: nowrap
